* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

#cajas {
    border: 5px solid #ccc;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tablas {
    width: 100%;
    height: auto;
}

.txt1, .txt2, .titulo {
    text-align: center;
    padding: 10px 0;
}

.titulo {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}